.container-game {
  width: 100%;
  perspective: 3000px;
}
.perspective {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-duration: 2s;
}
.rotate {
  transform: rotateY(180deg);
}
.container-deck {
  position: relative;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  backface-visibility: hidden;
}
.container-card {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: rotateY(180deg);
}
.deck-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 250px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0 0px 15px 5px rgba(124, 55, 156, 0.5);
  cursor: pointer;
  transform: scale(1);
  transition: ease 1s;
  margin-top: 30px;
}
.deck-theme:hover {
  transform: scale(1.1);
  transition: ease 1s;
}

.word-container {
  perspective: 500px;
  margin-top: 20px;
}
.word-perspective {
  transform-style: preserve-3d;
  transition-duration: 1s;
  position: relative;
  margin-top: 20px;
}
.card-theme-en {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 130px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  cursor: pointer;
  transform: scale(1);
  transition: ease 1s;
  backface-visibility: hidden;
}
.card-theme-en:hover {
  transform: scale(1.1);
  transition: ease 1s;
}
.card-theme-ru {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 130px;
  background-color: rgb(218, 58, 191);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(182, 80, 139, 0.3);
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: rotateY(180deg);
  padding: 0px;
  margin: 0px;
}
.word-stat {
  bottom: 10px;
  right: 10px;
  position: absolute;
  height: 30px;
  filter: hue-rotate(0deg);
}
.button-game-finish {
  position: fixed;
  top: 0px;
  transform: rotateY(180deg);
  padding: 18px 20px;
  background-color: rgb(231, 93, 197);
  color: rgb(233, 245, 244);
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0px 15px 5px rgba(218, 128, 213, 0.2);
  cursor: pointer;
  transition: ease 1s;
  margin-top: 30px;
  border: 0px;
}
.button-game-finish:hover {
  transition: ease 1s;
  box-shadow: 0 0px 15px 5px rgba(218, 128, 213, 0.7);
}
@media (max-width: 900.98px) {
  .deck-theme {
    width: 31vw;
  }
  .card-theme-en {
    width: 30vw;
  }
  .card-theme-ru {
    width: 30vw;
  }
}
@media (max-width: 700.98px) {
  .deck-theme {
    width: 41vw;
  }
  .card-theme-en {
    width: 41vw;
  }
  .card-theme-ru {
    width: 41vw;
  }
}
@media (max-width: 500px) {
  .deck-theme {
    width: 81vw;
  }
  .card-theme-en {
    width: 81vw;
  }
  .card-theme-ru {
    width: 81vw;
  }
}