.label {
  margin: 15px 0 15px 0;
  font-size: 20px;
  color: black;
}

.userStatus {
  visibility: hidden;
  color: #f1efed;
  position: absolute;
  top:100%;
  left:50%;
  transform:translate(-50%, -50%);
  padding: 10px 16px;
  border-radius: 10px;
  background-color: rgb(196, 62, 140);
  box-shadow: 0 5px 16px -4px rgba(196, 62, 140, 0.8);
}

.reglogDiv {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 150px;
  width: 20%;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.reglogDiv input {
  border: none;
  box-shadow: 0 5px 16px -4px rgba(196, 62, 140, 0.8);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  color: black;
}

.reglogDiv input::placeholder {
  color: rgb(226, 195, 240);
  opacity: 1;
  font-weight: bold;
}

.reglogDiv input:focus {
  background-color: rgb(248, 227, 248);
}

.logregBtn {
  margin-top: 20px;
  align-self: center;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  cursor: pointer;
  transition: ease 1s;
  text-decoration: none;
}
.logregBtn:hover {
  transform: scale(1.1);
  transition: ease 1s;
}
