.profile {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.deck-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.deck-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  width: 100px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  cursor: pointer;
  transform: scale(1);
  transition: ease 1s;
  text-decoration: none;
}
.deck-button:hover {
  transform: scale(1.1);
  transition: ease 1s;
}

.statistic {
  width: 80vw;
  margin-top: 50px;
  margin-bottom: 50px;
}
.stat-li {
  list-style-type: none;
  font-size: 20px;
}
.stat-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.stat-p {
  width: 30%;
  margin-right: 10px;
}
.progress {
  width: 60%;
  background-color: rgb(114, 60, 105);
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  background-color: rgb(170, 131, 164);
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: rgb(114, 60, 105);
  border-radius: 10px;
}
.container-new-post {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.addDeckDiv {
  display: flex;
}
.addDeck {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.select-add-deck {
  width: 212px;
  background-color: transparent;
  height: auto;
  font-size: 18px;
  height: 43px;
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px;
}
.select-add-deck option {
  background-color: rgb(252, 222, 252);
  padding: 5px;
}
.button-add-deck {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  cursor: pointer;
  transition: ease 1s;
  text-decoration: none;
}
.button-add-deck:hover {
  transform: scale(1.1);
  transition: ease 1s;
}
.input-create-deck {
  border: none;
  box-shadow: 0 5px 16px -4px rgba(196, 62, 140, 0.8);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  color: black;
  width: 208px;
  margin-right: 20px;
}
.container-add-new-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.container-add-new-desk-flex {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-new-desk {
  margin-bottom: 30px;
}
.container-add-new-desk input {
  border: none;
  box-shadow: 0 5px 16px -4px rgba(196, 62, 140, 0.8);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  color: black;
  width: 208px;
  margin-right: 20px;
}
.add-newCard {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  cursor: pointer;
  transition: ease 1s;
  text-decoration: none;
}
.add-newCard:hover {
  transform: scale(1.1);
  transition: ease 1s;
}
.form-add-elem {
  display: flex;
}

.allNewCard {
  margin-top: 30px;

  border: 1px solid rgb(124, 55, 156);
  border-radius: 10px;
  overflow: hidden;
}
.wordCard {
  display: flex;
  width: 100%;
}
/* .enWord {
  width: 40%;
  border: 1px solid rgb(124, 55, 156);
  padding-left: 10px;
}
.ruWord {
  width: 40%;
  border: 1px solid rgb(124, 55, 156);
  padding-left: 10px;
} */
.deleteBtn {
  /* width: 20%; */
  border: 1px solid rgb(124, 55, 156);
  padding-left: 10px;
  text-decoration: none;
}
.cardDiv {
  display: flex;
}
.container-choose {
  font-size: 20px;
  border-radius: 10px;
  /* width: 50vw; */
  border: 1px solid rgb(124, 55, 156);
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}
.engWord {
  width: 22vw;
  border: 1px solid rgb(124, 55, 156);
  overflow: hidden;
  padding: 5px;
}
.rusWord {
  width: 23vw;
  padding: 5px;
  border: 1px solid rgb(124, 55, 156);
}
.deleteCard {
  border: 1px solid rgb(124, 55, 156);
  text-decoration: none;
  padding: 5px;
}

.mainDeckDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backToDeck {
  text-align: center;
  text-decoration: none;
  color: #7b2cbf;
  background-color: rgb(124, 55, 156);
  color: aliceblue;
  font-size: 20px;
  width: 230px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(124, 55, 156, 0.7);
  padding: 10px 16px;
}

.deckTitle-ept {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(124, 55, 156);
}

.from {
  width: 60px;
}
